{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [["antd", {
  "style": "css",
  "libraryDirectory": "lib",  // default: lib
  "libraryName": "antd"            // default: antd
}]]

}
